<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="product-card" *ngFor="let product of products" (click)="openProductDetails(product.id)">
    <ion-card-header>
      <ion-card-subtitle>{{product.marca}}</ion-card-subtitle>
      <ion-card-title>{{product.produto}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

