<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      JobSmart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/JOBSMART.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Consulta de Produtos</ion-card-subtitle>
        <ion-card-title>JobSmart APP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Verifique os produtos cadastrados no sistema, liste todos em uma tela e tenha seus detalhes na palma de sua mão!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
